set relativenumber
set number
set ignorecase
set smartcase
set scrolloff=3 " 3 lines above/below cursor when scrolling

" Multiple cursors support
set multiple-cursors

" Copy to system clipboard as well
set clipboard+=unnamed

" https://github.com/JetBrains/ideavim/blob/master/doc/emulated-plugins.md

" https://youtrack.jetbrains.com/issue/VIM-1970
set highlightedyank

" https://youtrack.jetbrains.com/issue/VIM-959
set ideamarks

" https://github.com/JetBrains/ideavim/wiki/%60ideajoin%60-examples
set ideajoin

" https://youtrack.jetbrains.com/issue/VIM-1521
set commentary

" https://github.com/JetBrains/ideavim/wiki/Select-mode
" set selectmode-=template

"  Mouseless Driven Development by Hadi Hariri https://www.youtube.com/watch?v=UH6YVv9js3s
" https://github.com/JetBrains/ideavim
" https://github.com/Valloric/dotfiles/blob/master/intellij/ideavimrc
" https://resources.jetbrains.com/storage/products/intellij-idea/docs/IntelliJIDEA_ReferenceCard.pdf
set surround
let mapleader =" "

inoremap jj <esc>
inoremap kj <esc>
inorempa jk <esc>

nmap zz :action SaveAll<cr>
nmap ,b :action ToggleLineBreakpoint<cr>
nmap ,E :action RecentChangedFiles<cr>

" Navigation
nnoremap ,e :action SearchEverywhere<CR>
nnoremap ,g :action FindInPath<CR>
nnoremap ,s :action FileStructurePopup<CR>

nnoremap gd :action GotoDeclaration<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gb :action JumpToLastChange<CR>

nnoremap U :action FindUsages<CR>
nnoremap R :action RenameElement<CR>

nnoremap == :action ReformatCode<CR>
vnoremap == :action ReformatCode<CR>

nnoremap cc :action CommentByLineComment<CR>
vnoremap cc :action CommentByLineComment<CR>

nnoremap <C-CR> :action ShowIntentionActions<CR>

nnoremap ,a :action GotoAction<CR>
vnoremap ,a :action GotoAction<CR>

" Use Q for formatting the current paragraph (or visual selection)
vmap Q gq
nmap Q gqap

" Errors
nmap <leader>x :action GotoNextError<cr>
nmap <leader>X :action GotoPreviousError<cr>

" Refactorings
vmap T :action Refactorings.QuickListPopupAction<cr>
nmap <leader>rr :action RenameElement<cr>
nmap <leader>rg :action Generate<cr>
nmap <leader>rI :action OptimizeImports<cr>
" Inspection
nmap <leader>rc :action InspectCode<cr>

" VCS operations
nmap <leader>yy :action Vcs.Show.Local.Changes<cr>
nmap <leader>yp :action Vcs.QuickListPopupAction<cr>
nmap <leader>ya :action Annotate<cr>
nmap <leader>yl :action Vcs.Show.Log<cr>
nmap <leader>yd :action Compare.LastVersion<cr>
" nmap <leader>yr :action Git.ResolveConflicts<cr>

" Terminal
nmap <leader>T :action ActivateTerminalToolWindow<cr>

" Moving lines
nmap [e :action MoveLineUp<cr>
nmap ]e :action MoveLineDown<cr>
" Moving statements
nmap [s :action MoveStatementUp<cr>
nmap ]s :action MoveStatementDown<cr>

" Building, Running and Debugging
nmap ,r :action Run<cr>
nmap ,R :action RunAnything<cr>
nmap ,b :action Debug<cr>
nmap ,t :action RerunTests<cr>
nmap ,T :action RerunFailedTests<cr>

" To navigate between split panes
nmap <C-A>l :action NextSplitter<cr>
nmap <C-A>j :action NextSplitter<cr>
nmap <C-A>h :action PrevSplitter<cr>
nmap <C-A>k :action PrevSplitter<cr>

" Splits manipulation
nmap <C-a>- :action SplitHorizontally<cr>
nmap <C-a>_ :action SplitVertically<cr>
nmap <C-a>= :action Unsplit<cr>
nmap <C-a>+ :action UnsplitAll<cr>
nmap <C-a>wd :action OpenEditorInOppositeTabGroup<cr>

